<div class="contenedorTestimonios">
    <h1 data-aos="zoom-in-up" data-aos-duration="1000"><i class="fa-solid fa-comment-dots"></i>  DICEN DE NOSOTROS</h1>
    <span class="testimonios"><img src="../../../assets/comentarios.png" alt=""></span> 
    <span class="testimonios"><img src="../../../assets/comentarios.png" alt=""></span> 
    <span class="testimonios"><img src="../../../assets/comentarios.png" alt=""></span>
    <span class="testimonios"><img src="../../../assets/comentarios.png" alt=""></span>
</div>