<!-- <div class="contenedorTestimonios">
    <h1 data-aos="zoom-in-up" data-aos-duration="1000"><i class="fa-solid fa-comment-dots"></i>  DICEN DE NOSOTROS</h1>
    <span class="testimonios"><img src="../../../assets/comentarios.png" alt=""></span> 
    <span class="testimonios"><img src="../../../assets/comentarios.png" alt=""></span> 
    <span class="testimonios"><img src="../../../assets/comentarios.png" alt=""></span>
    <span class="testimonios"><img src="../../../assets/comentarios.png" alt=""></span>
</div> -->
<div class="fondo">
    <h1 data-aos="zoom-in-up" data-aos-duration="1000"><i class="fa-solid fa-comment-dots"></i>  DICEN DE NOSOTROS</h1>
    <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig"
    >
      <div ngxSlickItem *ngFor="let slide of slides">
        <div class="card d-block CardsContenedor">
          <img [src]="slide.img" alt="comentarios" class="card-img-top">
        </div>
      </div>
    </ngx-slick-carousel>
    <span><i class="fa-solid fa-circle-left" (click)="prevImg()"></i></span>
    <span><i class="fa-solid fa-circle-right" (click)="nextImg()"></i></span>
  </div>