<div class="contenedorDondeLlegamos" >
    <h1><i class="fa-solid fa-earth-americas"></i> ENCUENTRANOS EN </h1>
    <div class="mapa">
        <img src="../../../assets/mapa/mapaSilueta-02.png" alt="mapasilueta" data-aos="fade-left">        
        <span class="indicadorBogota"><img src="../../../assets/mapa/mapaIndicador-06.png" alt="bogota" data-aos="fade-down"  data-aos-duration="3000"></span>   
        <span class="indicadorCali"><img src="../../../assets/mapa/mapaIndicador-04.png" alt="cali" data-aos="fade-down"  data-aos-duration="3000"></span>   
        <span class="indicadorMedellin"><img src="../../../assets/mapa/mapaIndicador-03.png" alt="med" data-aos="fade-down"  data-aos-duration="3000"></span>   
        <span class="indicadorPereira"><img src="../../../assets/mapa/mapaIndicador-05.png" alt="per" data-aos="fade-down"  data-aos-duration="3000"></span>   
        <span class="textoColombia"><img src="../../../assets/mapa/colombia-08.png" alt="textcol" data-aos="fade-down"  data-aos-duration="3000"></span>   
    </div>
    <div class="contenedorNombreIndicadores">
        <span > <i class="fa-solid fa-location-dot" style="color: #EFD348;"></i> Medellín</span>
        <span ><i class="fa-solid fa-location-dot"  style="color: #009867;"></i> Bogotá</span>
        <span > <i class="fa-solid fa-location-dot" style="color: #92D669;"></i> Cali</span>
        <span > <i class="fa-solid fa-location-dot" style="color: #3E3053;"></i> Pereira</span>
    </div>    
    <div class="mapaEspana">
        <img src="../../../assets/espana/mapaEspana-01.png" alt="mapaEspana" data-aos="fade-right">
        <span class="banderaEspana"><img src="../../../assets/espana/mapaEspana-02.png" alt="bandera" data-aos="fade-down"  data-aos-duration="3000"></span>
        <span class="textoEspana"><img src="../../../assets/espana/mapaEspana-05.png" alt="texspa" data-aos="fade-down"  data-aos-duration="3000"></span>
    </div>    
</div>

