.contenedorFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 10vh;
    background-color: black;
    color: white;
}
.contenedorFooter small{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
img{
    width: 12%;
    margin-right: 6px;
}

@media (min-width: 768px) { 
    img{
        width: 6%;
    }
}

@media (min-width: 1024px) {
    img{
        width: 4%;
    }
 }

@media (min-width: 1200px) {
    img{
        width: 3%;
    }
 }