.contenedorEquipo{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: bisque;
    padding: 20px;
    font-family: Nova-Black;    
}

.tamImg{
    margin: 0 auto;
    width: 70% ;   
}

.contenedorEquipo small{    
    font-family: Nova;    
}

.contenedorEquipo h1{ 
    font-size: 34px;    
}

@media (min-width: 768px) {
    .tamImg {
        margin: 0 auto;
        width: 40% ;   
    }

    .contenedorEquipo small{    
        font-size: 16px;   
    }

    
}
  
@media (min-width: 1024px) {
    .contenedorEquipo {    
       padding: 40px;  
    }

    .contenedorEquipo small{    
        font-size: 18px;   
    }
}
  
  @media (min-width: 1200px) {
    
}