<div class="contenedorEquipo">
  <h1 data-aos="zoom-in-up" data-aos-duration="1000"><i class="fa-solid fa-people-group"></i>  NUESTRO TEAM</h1>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://cdn140.picsart.com/346902252038211.png" class="d-block tamImg" alt="...">
          <small>HOLA SOY CAMILA, amet consectetur adipisicing elit. Facilis commodi dolore culpa vero incidunt amet provident officia alias velit tempora placeat molestias assumenda officiis et, ea, illo, nobis consequatur natus.</small>
        </div>
        <div class="carousel-item">
          <img src="https://i.pinimg.com/originals/97/05/7c/97057c70bc6dfcd8706a6dc4b2f811d2.png" class="d-block tamImg" alt="...">
          <small>HOLA SOY SANTIAGO, amet consectetur adipisicing elit. Facilis commodi dolore culpa vero incidunt amet provident officia alias velit tempora placeat molestias assumenda officiis et, ea, illo, nobis consequatur natus.</small>
        </div>
        <div class="carousel-item">
          <img src="https://i.pinimg.com/originals/26/32/ed/2632ed38f455851dd9adf61c89417d90.png" class="d-block tamImg" alt="...">
          <small>HOLA SOY ÁLEX, amet consectetur adipisicing elit. Facilis commodi dolore culpa vero incidunt amet provident officia alias velit tempora placeat molestias assumenda officiis et, ea, illo, nobis consequatur natus.</small>
        </div>
      </div>
    </div>
</div>
