.contenedorEquipo{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: bisque;
    padding: 20px;
    font-family: Nova-Black;    
}

.contenedorEquipo small{    
    font-family: Nova;    
}

.contenedorEquipo h1{ 
    font-size: 34px;    
}