<div class="serviciosContainer">
  
  <h1>PLATAFORMA ORBIT360</h1>
  <p>
    ¡El giro 360 que revoluciona las redes! Nuestra plataforma trabaja con
    cámara GoPro. ¡tendrás la mejor resolución en tus vídeos! <br /><br />
    Se recomiendan espacios de 4 metros x 4 metros. Es necesario contar con
    internet para un correcto funcionamiento.
  </p>
  <span class="infoPlataforma1" data-aos="fade-left"  data-aos-duration="3000" ></span>
  <span class="infoPlataforma2" data-aos="fade-right"  data-aos-duration="3000" ></span>
  <span class="infoPlataforma3" data-aos="fade-left"  data-aos-duration="3000" ></span>  
  <div class="textoP1"  data-aos="fade-left"  data-aos-duration="3000">    
    <h1>Plataforma Orbit360</h1>
  </div>
  <div class="parrafoH1"  data-aos="fade-left"  data-aos-duration="3000">
    <p>Basic</p>
  </div>
  <div class="infoP1" data-aos="fade-left"  data-aos-duration="3000" >
    <ul>
      <li>Sistema de alimentación corriente alterna (AC)</li>
      <li>Motorreductor 12V</li>
      <li>Regulador de velocidad</li>
      <li>Control remoto encendido y apagado</li>
      <li>Tira luz led + control remoto</li>
      <li>Aro luz led RGB + POWERBANK</li>
    </ul>
  </div>
  <div class="logoNew" data-aos="fade-right"  data-aos-duration="3000">
    <img src="../../../assets/Logo V2.png" alt="logo">
  </div>
  <div class="powerBank" data-aos="fade-right"  data-aos-duration="3000">
    <img src="../../../assets/plataforma/camara360_3.png" alt="powerbank">
  </div>  
  <div class="contenedorPlataforma">
    <img src="../../../assets/plataforma/camara360_1.png" alt="plataforma" data-aos="fade-right"  data-aos-duration="1500">    
  </div>
  

  <div class="textoP2"  data-aos="fade-left"  data-aos-duration="3000">    
    <h1>Plataforma Orbit360</h1>
  </div>
  <div class="parrafoH2"  data-aos="fade-left"  data-aos-duration="3000">
    <p>Basic</p>
  </div>
  <div class="infoP2" data-aos="fade-left"  data-aos-duration="3000" >
    <ul>
      <li>Acabado en pintura electrostática</li>
      <li>Estructura metálica de alta resistencia</li>
      <li>Fácil armado</li>
      <li>Niveladores de goma para superficies irregulares</li>
      <li>Brazo graduable</li>
      <li>2 soportes auxiliares(celular y tablet)</li>
    </ul>
  </div>
  <div class="logoNewP2" data-aos="fade-right"  data-aos-duration="3000">
    <img src="../../../assets/Logo V2.png" alt="">
  </div>
  <div class="brazo" data-aos="fade-right"  data-aos-duration="3000">
    <img src="../../../assets/plataforma/camara360_4.png" alt="brazo">
  </div>  
  <div class="contenedorPlataforma2">
    <img src="../../../assets/plataforma/camara360_2.png" alt="plataforma" data-aos="fade-right"  data-aos-duration="1500">    
  </div>  
  <div class="contenedorPlataforma3">
    <img src="../../../assets/plataforma/camara360_estuche.png" alt="plataforma" data-aos="fade-right"  data-aos-duration="1500">    
  </div>
  <h1>BACKING 180</h1>
  <p>
    Para una apariencia superior podemos producir un backing impreso,
    personalizado para albergar la experiencia 360.
  </p>  
  <h1>BACKING 360</h1>
  <p>
    Tiene una medida aproximada de 4 metros de diámetro por 3 metros de alto
  </p>
</div>
