.serviciosContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: center;
    width: 100%;
    min-height: 100vh;
    font-family: Nova-Black;
    font-weight: 900;
    font-size: 20px;
    padding: 50px;
    text-align: justify;
    position: relative;
    color: white;  
}


.serviciosContainer p{    
    font-family: Nova;
    margin-bottom: 40px;   
}

.serviciosContainer h1{    
    text-align: center; 
       
}

.contenedorPlataforma{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.contenedorPlataforma img{ 
    width: 100%;
    z-index: 1;
    position: relative;
}

.infoPlataforma1{
    width: 100%;
    height: 8%;
    background-image: url(../../../assets/plataforma/banners1.jpg);
    background-size: 120%;
    background-repeat: no-repeat;
    position: absolute;    
    left:0;
    top: 26%;
}.textoP1{
    position: absolute;    
    left: 56%;
    top: 27.6%;    
}.textoP1 h1{
    //color: black;
    text-shadow: 0.6px 0.6px 1px black;
    -webkit-text-stroke: 0.5px gray; 
    font-family: Nova-Blackit;   
    font-size: 16px;
}.parrafoH1{
    position: absolute;    
    left: 55%;
    top: 28.4%; 
}.parrafoH1 p{
    color: rgb(137, 201, 11); 
    text-shadow: 0.6px 0.6px 1px black;
    -webkit-text-stroke: 0.2px gray; 
    font-family: Nova-Blackit;   
    font-size: 13px;
}.logoNew{
    position: absolute;    
    left: 5%;
    top: 32%;
    width: 40%; 
}.logoNew img{
    width: 30%;
}.powerBank{
    position: absolute;    
    left: 42%;
    top: 30.6%;
    width: 10%;    
    animation:pulse;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}.powerBank img{
    width: 100%;
}.infoP1{
    position: absolute;    
    left: 49%;
    top: 30.6%;
    font-size: 7px;
    text-align: end;
    text-shadow: 0.6px 0.6px 1px black;
    -webkit-text-stroke: 0.4px gray;  
}.infoP1 li{
      list-style-type: none;
}

.infoPlataforma2{
    width: 100%;
    height: 10%;
    background-image: url(../../../assets/plataforma/banners2.jpg);
    background-size: 120%;
    background-repeat: no-repeat;
    position: absolute;    
    left:0;
    top: 46%;
}.textoP2{
    position: absolute;    
    left: 5%;
    top: 47.5%;    
}.textoP2 h1{
    //color: black;
    text-shadow: 0.6px 0.6px 1px black;
    -webkit-text-stroke: 0.5px gray; 
    font-family: Nova-Blackit;   
    font-size: 16px;
}.parrafoH2{
    position: absolute;    
    left: 4%;
    top: 48.4%; 
}.parrafoH2 p{
    color: rgb(137, 201, 11); 
    text-shadow: 0.6px 0.6px 1px black;
    -webkit-text-stroke: 0.2px gray; 
    font-family: Nova-Blackit;   
    font-size: 13px;
}.logoNewP2{
    position: absolute;    
    left: 84%;
    top: 52%;
    width: 40%; 
}.logoNewP2 img{
    width: 30%;
}.brazo {
    position: absolute;    
    left: 43%;
    top: 51.2%;
    width: 18%;
    animation:pulse;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}.brazo img{
    width: 100%;
}.infoP2{
    position: absolute;    
    left: 0%;
    margin-left: -20px;
    top: 50.6%;
    font-size: 7px;
    text-align: start;
    text-shadow: 0.6px 0.6px 1px black;
    -webkit-text-stroke: 0.4px gray;  
}.infoP2 li{
      list-style-type: none;
}

.infoPlataforma3{
    width: 100%;
    height: 10%;
    background-image: url(../../../assets/plataforma/banners1.jpg);
    background-size: 120%;
    background-repeat: no-repeat;
    position: absolute;    
    left:0;
    top: 66%;
}

.contenedorPlataforma2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.contenedorPlataforma2 img{ 
    width: 100%;
    z-index: 1;
}

.contenedorPlataforma3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.contenedorPlataforma3 img{ 
    width: 100%;
    z-index: 1;
}