<div class="serviciosContainer">
  <h1>PLATAFORMA ORBIT360</h1>
  <p>
    ¡El giro 360 que revoluciona las redes! Nuestra plataforma trabaja con
    cámara GoPro. ¡tendrás la mejor resolución en tus vídeos! <br /><br />
    Se recomiendan espacios de 4 metros x 4 metros. Es necesario contar con
    internet para un correcto funcionamiento.
  </p>
  <div class="descripcionPlataforma">
    <p>BASIC</p>
    <img
      src="../../../assets/plataforma/camara360_1.png"
      alt="plataforma"
      data-aos="fade-right"
      data-aos-duration="1500"
      class="imgPlataforma"
    />
    <ul>
      <li><i class="fa-solid fa-street-view"></i> Sistema de alimentación corriente alterna (AC)</li>
      <li><i class="fa-solid fa-street-view"></i> Motorreductor 12V</li>
      <li><i class="fa-solid fa-street-view"></i> Regulador de velocidad</li>
      <li><i class="fa-solid fa-street-view"></i> Control remoto encendido y apagado</li>
      <li><i class="fa-solid fa-street-view"></i> Tira luz led + control remoto</li>
      <li><i class="fa-solid fa-street-view"></i> Aro luz led RGB + POWERBANK</li>
    </ul>
    <img src="../../../assets/plataforma/camara360_3.png" alt="powerbank" class="imgPowerBank">
    <ul>
      <li><i class="fa-solid fa-street-view"></i> Acabado en pintura electrostática</li>
      <li><i class="fa-solid fa-street-view"></i> Estructura metálica de alta resistencia</li>
      <li><i class="fa-solid fa-street-view"></i> Fácil armado</li>
      <li><i class="fa-solid fa-street-view"></i> Niveladores de goma para superficies irregulares</li>
      <li><i class="fa-solid fa-street-view"></i> Brazo graduable</li>
      <li><i class="fa-solid fa-street-view"></i> 2 soportes auxiliares(celular y tablet)</li>
    </ul>
    <img src="../../../assets/plataforma/camara360_4.png" alt="brazo" class="imgBrazo">
  </div>

  <a href="https://wa.link/ra6ytj" target="_blank" class="btn boton">La quiero!</a> 

  <img src="../../../assets/Logo V2.png" alt="logoNew" class="imgLogo">

  <div class="descripcionPlataforma">
    <p>PRO</p>
    <img
      src="../../../assets/plataforma/camara360_estuche.png"
      alt="plataforma"
      data-aos="fade-right"
      data-aos-duration="1500"
      class="imgPlataforma"
    />
    <ul>
      <li><i class="fa-solid fa-street-view"></i> BASIC +</li>
      <li><i class="fa-solid fa-street-view"></i> Sistema de alimentación: Bateria 12V + Cargador Autonomía de 8H</li>
      <li><i class="fa-solid fa-street-view"></i> GPS</li>
      <li><i class="fa-solid fa-street-view"></i> Ubicación precisa</li>
      <li><i class="fa-solid fa-street-view"></i> Bloqueo suministro eléctrico</li>
    </ul>    
  </div>

  <a href="https://wa.link/fiy8cp" target="_blank" class="btn boton">La quiero!</a>

  <h1>BACKING 180</h1>
  <p>
    Para una apariencia superior podemos producir un backing impreso,
    personalizado para albergar la experiencia 360.
  </p>
  <h1>BACKING 360</h1>
  <p>
    Tiene una medida aproximada de 4 metros de diámetro por 3 metros de alto
  </p>
</div>
