.serviciosContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: center;
    width: 100%;
    min-height: 100vh;
    font-family: Nova-Black;
    font-weight: 900;
    font-size: 20px;
    padding: 30px;
    text-align: justify;
    position: relative;
    color: white;  
}.serviciosContainer a{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px; 
}.boton{
    color: white;
    text-shadow: 1px 0.1px 1px black;
    //background-color: #fdeb07;
    background-color: #FDEB07;
    -webkit-text-stroke: 0.6px black;
    font-size: 20px;
    animation: headShake;
    animation-duration:2s ;
    animation-iteration-count: infinite;
  }

.serviciosContainer p{    
    font-family: Nova;
    margin-bottom: 40px;   
}

.serviciosContainer h1{    
    text-align: center; 
    margin-top: 30px;
    color: #FDEB07 ;  
}

.descripcionPlataforma{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}.imgPlataforma{
    width: 100%;
    margin-bottom: 40px;
}.descripcionPlataforma p{
    margin: 0;
    color: #FDEB07 ;
    font-family: Nova-Black;
    font-size: 30px;
    font-weight: 900;
}.descripcionPlataforma ul{
    font-size: 20px;
    text-align: start;
    list-style: none;
    margin: 0;
    padding: 0;
}.descripcionPlataforma li{
    margin-bottom: 10px;
}.imgLogo{
    width: 60%;
}.fa-solid{
    color: #FDEB07 ;
    margin-right: 10px;
}.imgPowerBank{
    width: 50%;
    margin: 0 auto;
    // animation:heartBeat;
    // animation-duration: 2s;
    // animation-iteration-count: infinite;
}.imgBrazo{
    width: 65%;
    margin: 0 auto;
    // animation:heartBeat;
    // animation-duration: 2s;
    // animation-iteration-count: infinite;
}

.carousel{
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    autoplaySpeed: 5000,
}


@media (min-width: 768px) { 
    .imgPlataforma{
        width: 70%;
    }

    .carousel{
        min-height: 50vh;
    }

    .imgPowerBank{
        width: 30%;
        margin: 0 auto;
        // animation:heartBeat;
        // animation-duration: 2s;
        // animation-iteration-count: infinite;
    }

    .imgBrazo{
        width: 45%;
        margin: 0 auto;
        // animation:heartBeat;
        // animation-duration: 2s;
        // animation-iteration-count: infinite;
    }
}

@media (min-width: 1024px) { 

    .serviciosContainer{
        padding: 80px; 
    }

    .imgPlataforma{
        width: 60%;
    }

    .carousel{
        min-height: 70vh;
    }

    .imgPowerBank{
        width: 20%;
    }

    .imgBrazo{
        width: 35%;
    }

    .serviciosContainer a{
        width: 60%;
    }

    .imgLogo{
        width: 40%;
       
    }

    .descripcionPlataforma p{
        
        font-size: 45px;
        
    }
 }

@media (min-width: 1200px) {
    .descripcionPlataforma{
        flex-direction: row;
    }

    .imgPlataforma{
        width: 35%;
    }

    .imgLogo{
        width: 24%;
       
    }

    .imgPowerBank{
        width: 14%;
    }

    .imgBrazo{
        width: 20%;
    }

    .serviciosContainer a{
        width: 24%;
        margin-top: 20px;
        margin-bottom: 60px;
    }
 }