.boton{
  color: white;
  text-shadow: 0.5px 0.2px 2px black;
  //background-color: #fdeb07;
  background-color: #d60a47;
  animation: headShake;
  animation-duration:2s ;
  animation-iteration-count: infinite;
}

.contenedorPlanes{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  //padding: 20px;
  font-family: Nova-Black;
  font-size: 20px;    
}.contenedorPlanes h1{
     color: white;
     font-size: 25px;
     text-align: center;
     margin-top: 20px;
}
.contenedorPlanes img{
  width: 70%;   
}

.itemC{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  text-decoration: none;
  list-style: none;
}

.carousel{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  width: 100%;
  padding: 20px;
}

.carousel-item img {
  margin: 0 auto;
  margin-bottom: 20px;
}
.carousel-item  a{
  margin-left: 30%; 
}

@media (min-width: 768px) {

  .carousel{
    text-align: center;
    min-height: 70vh;
  }

  .contenedorPlanes img{
    width: 45%;   
  }

  .carousel-item  a{
    margin-left: 0%;
    margin-bottom: 20px; 
  }

  .contenedorPlanes h1{
    font-size: 28px;
  }

 }

@media (min-width: 1024px) { 
  .carousel{
    text-align: center;
    min-height:  80vh;
  }

  .contenedorPlanes img{
    width: 35%;   
  }

  .carousel-item  a{
    margin-left: 0%;
    margin-bottom: 20px; 
  }

  .contenedorPlanes h1{
    font-size: 35px;
  }
}

@media (min-width: 1200px) {
  .contenedorPlanes img{
    width: 30%;   
  }
 }



