h5 {
  font-size: 1rem;
  font-family: Nova-Black;
}
h1 {
  font-family: Nova-Black;
  color: black;
  font-size: 25px;
  text-align: center;
}
ul {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: var(--fuente);
}

.fondo {
  //   background-image: url("/assets/planes/fondook-01.jpg");
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   background-position: center center;
  background-color: white;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
}

.CardsContenedor {
  min-height: 56vh;
  margin-right: 10px;
}

a {
  position: absolute;
  margin: 0 auto;
  width: 80%;
  left: 1rem;
  bottom: 0;
  color: black;
  background-color: #FDEB07;
  font-family: var(--fuenteBlack);
}

span {
  font-size: 2rem;
  color: #FDEB07;
  margin-right: 10px;
}
span:hover {
  color: #c9bf3a;
}

.contenedorPlanes{
  background-color: white;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  min-height: 80vh;
}

.itemPlanes{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: start;
  flex-direction: column;
  min-height: 64vh;
  border: 0.1rem solid rgb(204, 203, 203);
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 10px;
}
.itemPlanes:hover{
  animation: pulse;
  animation-duration: 1.5s;
  box-shadow: 0 0 20px 0.5px rgba(105, 105, 105, 0.438); /* offset-x | offset-y | blur-radius | spread-radius | color */
}

.masVendido{
  background-color: var(--colorVerde);
  border-radius: 2rem;
  text-align: center;
  font-size: 1.2rem;
  font-family: var(--fuente);
  font-weight: 900;
  box-sizing: border-box;
  padding: 4px;
  margin: 0;
  width: 60%;
  animation: flash;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@media (min-width: 768px) {
 
}

@media (min-width: 1024px) {
  .fondo {
    display: none;
  }
  .contenedorPlanes{
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 2rem;
  }
  a{
    position: unset;
  }
}

@media (min-width: 1200px) {
  .CardsContenedor {
    width: 64%;
    margin-right: 0;
  }
  span {
    font-size: 3rem;
    margin-right: 100px;
  }
  .contenedorPlanes{
    font-size: 1.4rem;
  }
  a{
   font-size: 1.2rem;
  }
}

@media (min-width: 1400px) {
  .masVendido{
    font-size: 1.8rem;
    padding: 4px;
    width: 60%;
  }
  
  
}
