<div
  id="carouselExampleFade"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card" style="width: 18rem; height: 60vh;">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">PLAN BASIC</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="fa-solid fa-video"></i> Videos ilimitados
          </li>
          <li class="list-group-item">
            <i class="fa-solid fa-bezier-curve"></i> Diseño marco personalizado
          </li>
          <li class="list-group-item">
            <i class="fa-solid fa-lightbulb"></i> 2 luces led
          </li>
          <li class="list-group-item">
            <i class="fa-solid fa-person"></i> 1 Operario
          </li>
          <li class="list-group-item">
            <i class="fa-solid fa-envelopes-bulk"></i> Descarga por QR e E-mail
          </li>
        </ul>
        <div class="card-body" style="text-align: center">
          <a href="https://wa.link/ag7hl1" target="_blanck" class="btn btn-dark"
            >Lo quiero!</a
          >
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="card" style="width: 18rem; height: 60vh;">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">PLAN TOP</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="fa-solid fa-video"></i> Videos ilimitados
          </li>
          <li class="list-group-item">
            <i class="fa-solid fa-bezier-curve"></i> Diseño marco personalizado
          </li>
          <li class="list-group-item">
            <i class="fa-solid fa-lightbulb"></i> 4 luces led
          </li>
          <li class="list-group-item">
            <i class="fa-solid fa-person"></i> 2 Operarios
          </li>
          <li class="list-group-item">
            <i class="fa-solid fa-envelopes-bulk"></i> Descarga por QR e E-mail
          </li>
          <li class="list-group-item">
            <i class="fa-solid fa-hard-drive"></i> Máquina burbujas y humo
          </li>
          <li class="list-group-item">
            <i class="fa-solid fa-money-bill-wheat"></i> Money gun
          </li>
        </ul>
        <div class="card-body" style="text-align: center">
          <a href="https://wa.link/ag7hl1" target="_blanck" class="btn btn-dark"
            >Lo quiero!</a
          >
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="card" style="width: 18rem; height: 60vh;">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">PLAN BRANDS</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="fa-solid fa-caret-up"></i> Plan top +
          </li>
          <li class="list-group-item">
            <i class="fa-solid fa-file-video"></i> Video opening
          </li>
          <li class="list-group-item">
            <i class="fa-solid fa-photo-film"></i> Video ending
          </li>
          <li class="list-group-item">
            <i class="fa-solid fa-clapperboard"></i> Marco video
          </li>
          <li class="list-group-item">
            <i class="fa-solid fa-comment-dots"></i> animado
          </li>
        </ul>
        <div class="card-body" style="text-align: center">
          <a href="https://wa.link/ag7hl1" target="_blanck" class="btn btn-dark"
            >Lo quiero!</a
          >
        </div>
      </div>
    </div>
  </div>

  <button
    class="carousel-control-prev carousel-dark "
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next carousel-dark "
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
