<div class="fondo">
  <h1>
    <i class="fa-solid fa-circle-check"></i> ADQUIERE EL PLAN QUE MEJOR SE
    ADAPTE A TU NECESIDAD
  </h1>
  <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
  >
    <div ngxSlickItem *ngFor="let slide of slides">
      <div class="card d-block CardsContenedor">
        <div class="card-body" style="text-align: start">
          <h5 class="card-title" style="text-align: center">
            {{ slide.title }}
          </h5>
          <ul>
            <li *ngFor="let services of slide.description">
              <i class="{{ services.icon }}"></i> {{ services.item }}
            </li>
          </ul>
        </div>
        <a
          class="btn btn-dark mb-3"
          href="{{ slide?.linkButton }}"
          target="_blank"
          >Lo quiero!</a
        >
      </div>
    </div>
  </ngx-slick-carousel>
  <span><i class="fa-solid fa-circle-left" (click)="prevImg()"></i></span>
  <span><i class="fa-solid fa-circle-right" (click)="nextImg()"></i></span>
</div>
<!-- //////////////////////////////////////////////////// segunda vista -->
<div class="contenedorPlanes">
  <div class="itemPlanes">
    <h1>PLAN BASIC</h1>
    <ul>
      <li><i class="fa-solid fa-video"></i> Videos ilimitados</li>
      <li><i class="fa-solid fa-bezier-curve"></i> Diseño marco personalizado</li>
      <li><i class="fa-solid fa-lightbulb"></i> 2 luces led</li>
      <li><i class="fa-solid fa-person"></i> 1 Operario</li>
      <li>
        <i class="fa-solid fa-envelopes-bulk"></i> Descarga por QR e E-mail
      </li>
    </ul>
    <a href="https://wa.link/7luy06" target="_blank" class="btn btn-dark"
      >Lo quiero!</a
    >
  </div>
  <div class="itemPlanes">
    <div class="masVendido">Más vendido <i class="fa-solid fa-cart-plus"></i></div>
    <h1>PLAN TOP <i class="fa-solid fa-bookmark"></i></h1>
    <ul>
      <li><i class="fa-solid fa-video"></i> Videos ilimitados</li>
      <li>
        <i class="fa-solid fa-bezier-curve"></i> Diseño marco personalizado
      </li>
      <li><i class="fa-solid fa-lightbulb"></i> 4 luces led</li>
      <li><i class="fa-solid fa-person"></i> 2 Operarios</li>
      <li>
        <i class="fa-solid fa-envelopes-bulk"></i> Descarga por QR e E-mail
      </li>
      <li><i class="fa-solid fa-hard-drive"></i> Máquina burbujas y humo</li>
      <li><i class="fa-solid fa-money-bill-wheat"></i> Money gun</li>
    </ul>
    <a href="https://wa.link/lvt7oq" target="_blank" class="btn btn-dark" id="top"
      >Lo quiero!</a
    >
  </div>
  <div class="itemPlanes">
    <h1>PLAN BRANDS</h1>
    <ul>
      <li><i class="fa-solid fa-caret-up"></i> Plan top <b>+</b></li>
      <li><i class="fa-solid fa-file-video"></i> Video opening</li>
      <li><i class="fa-solid fa-photo-film"></i> Video ending</li>
      <li><i class="fa-solid fa-clapperboard"></i> Marco video</li>
      <li><i class="fa-solid fa-comment-dots"></i> animado</li>
    </ul>
    <a href="https://wa.link/en2laf" target="_blank" class="btn btn-dark"
      >Lo quiero!</a
    >
  </div>
</div>
