<div id="wpp">
  <a href="https://wa.link/ag7hl1" target="_blank"><img src="../../../assets/redes/wpp.png" alt="wpp" /></a>
</div> 
<section id="lobby" class="contenedor">
  <app-lobby></app-lobby>
</section>
<section id="servicios"  class="contenedor">
  <app-servicios></app-servicios>
</section>
<section id="planes"  class="contenedor">
  <app-planes></app-planes>
</section>
<section id="dondeLlegamos"  class="contenedor">
  <app-donde-llegamos></app-donde-llegamos>
</section>
<section id="testimonios"  class="contenedor">
  <app-testimonios></app-testimonios>
</section>
<section id="equipo"  class="contenedor">
  <app-equipo></app-equipo>
</section>
<section id="footer"  class="contenedor">
  <app-footer></app-footer>
</section>
<router-outlet></router-outlet>
