
<div class="videoContainer">
    <div class="logo  "></div>
    <div class="textoContainer">
        <p>Camila Duque / Álex Palacios</p>
        <a href="https://wa.link/ag7hl1" target="_blank"><i class="fa-brands fa-whatsapp"></i> 311 869 0680</a>
        <a href="https://www.instagram.com/laorbit360/" target="_blank"><i class="fa-brands fa-instagram"></i> @laorbit360</a>
        <p>laorbit360@gmail.com</p> 
        <p>Colombia - España</p>
    </div>
    <div class="arrows1">
        <p>Comprar</p>
        <a href="#servicios" ><i class="fa-solid fa-angles-down" style="color: #ffffff;"></i></a>
    </div>
    <div class="arrows2">
        <p>Alquilar</p>
        <a href="#ventaPlanes" ><i class="fa-solid fa-angles-down" style="color: #ffffff;"></i></a>
    </div>
</div>



